<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Sample REST Web Service</display-name>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
        classpath:/persistanceContext.xml
        classpath:/serviceApplicationContext.xml  
        classpath:/restApplicationContext.xml   
    </param-value>
  </context-param>

  <!-- Create the Spring Container shared by all Servlets and Filters -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
 -->
  <!-- Application Context Filter -->
  <!-- 
  <filter>
    <description>Application Context Filter</description>
    <display-name>applicationContextFilter</display-name> -->
    <!-- The filter-name is used to look up the ApplicationContextFilter bean in the Spring application context --> <!-- 
    <filter-name>applicationContextFilterBean</filter-name>
	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  -->

 
   <servlet>
    <servlet-name>sample-ws</servlet-name>
    <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <!-- 
    <init-param>
	  <param-name>com.sun.jersey.config.property.packages</param-name>
	  <param-value>com.test.rest</param-value>
	</init-param>
	 -->
	<load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>sample-ws</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  
</web-app>

